# executable
spider

# plots
*.pdf

# log files from plotting
*.log

# compiled python code
*.pyc

# object files
*.o

# dependency files
*.d

# Vim swap files
.*.swp

# OS X debugging symbols
*.dSYM

# OS X garbage
*.DS_Store

# output
output/

# test working directory (should agree with SPIDER_TEST_DIR in Makefile)
tests/*_output
tests/sciath_test_report.txt 

# LaTeX related
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.synctex.gz
*.toc
